
<button type="button" class="btn btn-primary" (click)="showed = !showed" >
  Show info
</button>
<div class="info_popover panel panel-default" *ngIf="showed">
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <tbody>
      <tr *ngFor="let key of getKeys()">
        <td>{{key}}</td>
        <deep-view *ngIf="getType(data[key]) == 'object'" [data]="data[key]"></deep-view>
        <td *ngIf="!getType(data[key]) != 'object'">
          <div *ngIf="getType(data[key]) == 'small'">
            {{data[key]}}
          </div>
          <div *ngIf="getType(data[key]) == 'array'">
            <span *ngFor="let tag of data[key]" class="label label-primary" style="margin: 5px; zoom: 1.5">
              {{tag}}
            </span>
          </div>
          <div *ngIf="getType(data[key]) == 'pre'">
            <pre-view [data]="data[key]"></pre-view>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
