<div class="row" style="margin-bottom:10px">
  <form class="form" (submit)="reload()">
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group">
        <label>Request id</label>
        <input class="form-control" type="text" [(ngModel)]="filters.request_id" name="request_id">
      </div>
      <div class="form-group">
        <label>Sid</label>
        <input class="form-control" type="text" [(ngModel)]="filters.sid" name="sid">
      </div>
      <div class="form-group">
        <label>IP</label>
        <input class="form-control" type="text" [(ngModel)]="filters.request_ip" name="request_ip">
      </div>
      <div class="form-group" *ngFor="let field of distinct_filters">
        <label>{{field}}</label>
        <select class="form-control" [(ngModel)]="filters[field]" name="{{field}}">
          <option *ngFor="let option of distinct_filters_data[field]" value="{{option}}">{{option}}</option>
        </select>
      </div>
      <input type="submit" class="btn btn-primary">
      <button class="btn btn-danger" (click)="clearFilters()">Clear</button>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Message(regexp)</label>
        <input class="form-control" type="text" [(ngModel)]="filters.message" name="request_id">
      </div>
    </div>
  </form>
</div>

<div class="row" style="margin-bottom:10px">
  <div class="col-md-3">
    <h4>Total: {{total}}</h4>
  </div>
  <div class="col-md-3">
    <form class="form-inline">
      <div class="form-group">
        <label><h4>Page size: </h4></label>
        <select class="form-control" [(ngModel)]="page_size" name="page_size" (change)="reload()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </form>
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Host</th>
      <th>Level</th>
      <th>@timestamp</th>
      <th>Logger name</th>
      <th>Message</th>
      <th>Extra</th>
      <th>Meta</th>
      <th>Request ID</th>
      <th>Request IP</th>
    </tr>
  </thead>
  <tbody *ngIf="!loading">
    <tr *ngFor="let item of results" class="{{getLineClass(item.level)}}">
      <td>{{item.host}}</td>
      <td>{{item.level}}</td>
      <td>{{toLocalDate(item["timestamp"])}}</td>
      <td>{{item.logger_name}}</td>
      <td>{{item.message | truncate : 100}}</td>
      <td>
        <deep-view [data]="item"></deep-view>
      </td>
      <td>
        <deep-view [data]="item.metadata"></deep-view>
      </td>
      <td><a (click)="setFilter('request_id', item.request_id)">{{item.request_id}}</a></td>
      <td><a (click)="setFilter('request_ip', item.request_ip)">{{item.request_ip}}</a></td>

    </tr>
  </tbody>
</table>
<div class="progress progress-striped active" *ngIf="loading">
  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
